<div class="w-100 h-100">
    <div class="d-flex align-items-center">
        <div><mat-icon class="mr-2" style="font-size: 3rem; height: 3rem; width: 3rem">{{batteryService.icon}}</mat-icon> </div>
        <div class="flex-grow-1">
            <h1 class="d-inline mb-0">Powerwall: <span [ngClass]="{'text-success': batteryService.charging, 'text-danger': !batteryService.charging}">{{batteryService.charge | round}} V</span></h1>
            <h1 class="float-right mb-0 text-muted">{{batteryService.temp | round}} °C</h1>
        </div>
    </div>
</div>
