<!--
<div class="align-self-center">
    <div class="text-center">
        <div>
            <h1 class="d-inline text-white">Home Front</h1>
            <div [@growX]="true" class="d-inline">
                <span class="pl-2" style="color: #b7b7b7">v{{environment.version}}</span>
            </div>
        </div>
    </div>
    <div class="mt-5 text-center">
        <img src="assets/icon-white.png" width="275px" height="auto">
    </div>
    <button mat-stroked-button class="mt-5" (click)="login()" [disabled]="loading">Login With Google</button>
</div>
-->
<div class="center">
    <div class="text-center">
        <h1 class="d-inline text-white">Home Front</h1>
    </div>
    <div class="mt-5">
        <img src="assets/icon-white.png" width="275px" height="auto">
    </div>
</div>
<div class="off-center" [@expandDown]="animate">
    <button mat-stroked-button class="mt-5" style="width: 150px" (click)="login()" [disabled]="loading">Login With Google</button>
</div>
