<mat-toolbar *ngIf="!hide" [@expandDown]="!hide" class="bg-primary">
    <mat-icon *ngIf="mobile" class="mr-2" (click)="open = !open">menu</mat-icon>
    <img src="assets/icon.png" class="mr-2" height="24px" width="auto">
    <span style="font-weight: 500;">Home Front</span>
    <small class="text-muted ml-2">v{{environment.version}}</small>
</mat-toolbar>
<mat-drawer-container class="h-100 w-100 example-container" [hasBackdrop]="false">
    <mat-drawer class="bg-primary" [mode]="mobile ? 'push' : 'side'" [opened]="open" [disableClose]="!mobile" [autoFocus]="false">
        <mat-nav-list class="p-0">
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="dashboard" routerLinkActive="active"><span class="p-3 pl-0 mr-5"><mat-icon class="mr-2">insert_chart</mat-icon> Dashboard</span></a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="battery" routerLinkActive="active"><span class="p-3 pl-0 mr-5"><mat-icon class="mr-2">{{batteryService.icon}}</mat-icon> Power Wall</span></a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="weather" routerLinkActive="active"><span class="p-3 pl-0 mr-5"><mat-icon class="mr-2">cloud</mat-icon> Weather</span></a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="security" routerLinkActive="active"><span class="p-3 pl-0 mr-5"><mat-icon class="mr-2">security</mat-icon> Security</span></a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="settings" routerLinkActive="active"><span class="p-3 pl-0 mr-5"><mat-icon class="mr-2">settings</mat-icon> Settings</span></a>
            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="bg-secondary text-white p-4" (click)="open = (mobile && open) ? false : open">
        <main [@routerTransition]="o.isActivated ? o.activatedRoute : ''">
            <router-outlet #o="outlet"></router-outlet>
        </main>
    </mat-drawer-content>
</mat-drawer-container>
